#menu {
    display: flex;
    background: navy;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: blueviolet;
    /* text-shadow 2px 2px red; */
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#menu-title {
    font-size: 5em;
    padding-top:100px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#menu-hs {
    padding-bottom: 20px;
    font-size: 1.5em;
}

#menu-msg {
    padding-bottom: 70px;
    font-size: 1.5em;
}

#play-button {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: blueviolet;
    font-size: 2em;
    border-color: blueviolet;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    border-width:2px;
    margin-left:30px;
}

#play-button:hover {
    color: indianred;
    border-color: indianred;
}

#user-name {
    outline: initial;
    background-color: initial;
    padding: 3px;
    font-size: 2em;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: blueviolet;
    color: indianred;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;
}

#user-name::placeholder {
    color: blueviolet;
}