#serverPicker {
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.serverChoice {
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
    font-size: 1.2em;
}

.selected {
    color: indianred;
    border-color: indianred;
}